In [2]:
import pandas as pd

# Series

In [4]:
ice_cream = ['chocolate', 'vanilla', 'strawberry', 'Rum raisin']

pd.Series(ice_cream)

0     chocolate
1       vanilla
2    strawberry
3    Rum raisin
dtype: object

In [6]:
lottery = [4, 8, 15, 16, 23]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
dtype: int64

In [7]:
registration = [True, False, False, False, True]
pd.Series(registration)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
sushi = {
    'Salmon': 'Orange',
    'Tuna': 'Red',
    'Eel': 'Brown'
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [10]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [11]:
prices.sum()

8.8

In [12]:
prices.product()

18.095480000000006

In [13]:
prices.mean()

2.9333333333333336

# Intro to Attributes

In [24]:
adjectives = pd.Series(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble','Smart'])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [25]:
adjectives.size

6

In [26]:
adjectives.is_unique

False

In [27]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [28]:
type(adjectives.values)

numpy.ndarray

In [29]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [30]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [32]:
adjectives.dtype

dtype('O')

# Parameters and Arguments

In [33]:
# Parameter - The name we give to an expected input
# Argument - The concrete value that we provide to a parameter

# Difficulty - Easy, Medim, Hard
#Volume - 1 through 10

In [38]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry', 'Watermelon']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thrursday', 'Friday', 'Monday']

x = pd.Series(data = fruits, index = weekdays)

In [41]:
x['Monday']

Monday         Apple
Monday    Watermelon
dtype: object

# Import Series with the pd.read_csv Function

In [51]:
pokemon = pd.read_csv(r'pandas/pokemon.csv', usecols=['Pokemon']).squeeze('columns')
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [55]:
google = pd.read_csv('pandas/google_stock_price.csv', usecols=['Stock Price']).squeeze()

# The head and tail Methods on a series

In [59]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
google = pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price']).squeeze()

In [61]:
pokemon.head()
pokemon.head(6)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object

In [62]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [64]:
google.tail()
google.tail(n = 10)

3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# Passing Series to Python's Built-In Functions

In [65]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
google = pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price']).squeeze()

In [74]:
len(pokemon)
type(pokemon)
dir(pokemon)
sorted(pokemon)
type(sorted(pokemon))
sorted(google)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

# The sort_values Method

In [75]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
google = pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price']).squeeze()

In [80]:
pokemon.sort_values()
pokemon.sort_values(ascending = True)
pokemon.sort_values(ascending = False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [82]:
google.sort_values()
google.sort_values(ascending = False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

# The sort_index method

In [86]:
pokemon = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [88]:
pokemon.sort_index()
pokemon.sort_index(ascending = False)

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

# Check fo inclusion with Python's in Keyword

In [93]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [94]:
'Bulbasaur' in pokemon

False

In [96]:
100 in pokemon
100 in pokemon.index

True

In [97]:
'Bulbasaur' in pokemon.values

True

# Extract Series Value by Index Position

In [99]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = [0]).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [111]:
pokemon[0]
pokemon[500]
# pokemon[1500]

pokemon[[100, 200, 300]]
pokemon[27:35]
pokemon[:7]

pokemon[710:]

# pokemon[-1]

pokemon[-20:-10]
pokemon[-20:]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

# Extract Series Valu by index label

In [113]:
pokemon = pd.read_csv(r'pandas/pokemon.csv', index_col = 'Pokemon').squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [115]:
pokemon[0]
pokemon[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [119]:
pokemon['Bulbasaur']
pokemon['Mewtwo']

pokemon[['Charizard', 'Jolteon', 'Meowth']]

Pokemon
Charizard        Fire
Jolteon      Electric
Meowth         Normal
Name: Type, dtype: object

# The get method on a series

In [121]:
pokemon = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [133]:
pokemon.get(0)
pokemon.get('Bulbasaur')
pokemon.get([5, 10])
pokemon.get(['Moltres', 'Meowth'])

# print(pokemon.get('Digmon'))

pokemon.get([1,5])

pokemon.get('Digmon', 'Nonexistent')

pokemon.get(['Moltres', 'Digmon'], 'nonexistent')

pokemon.get([0, 500, 1000000], 'nop')

'nop'

# Overwrite a Series Value

In [3]:
pokemon = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon']).squeeze('columns')
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [4]:
pokemon[0]

'Bulbasaur'

In [5]:
pokemon[0] = 'Borisaur'

In [6]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [7]:
pokemon[1500] = 'Hello'

In [8]:
pokemon

0         Borisaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [13]:
pokemon[[1,2,4]] = ['Firemon', 'Flamenon', 'Blazemon']
pokemon

0         Borisaur
1          Firemon
2         Flamenon
3       Charmander
4         Blazemon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500         Hello
Name: Pokemon, Length: 722, dtype: object

In [15]:
pokemon = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon').squeeze('columns')
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [16]:
pokemon['Bulbasaur'] = 'Awesomenon'

In [18]:
pokemon[1] = 'Grassmon'

In [19]:
pokemon

Pokemon
Bulbasaur     Awesomenon
Ivysaur         Grassmon
Venusaur           Grass
Charmander          Fire
Charmeleon          Fire
                 ...
Yveltal             Dark
Zygarde           Dragon
Diancie             Rock
Hoopa            Psychic
Volcanion           Fire
Name: Type, Length: 721, dtype: object

# The copy Method

In [24]:
pokemon_df = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon'])
pokemon_series = pokemon_df.squeeze('columns')

In [26]:
pokemon_series[0] = 'whatevermon'

In [28]:
pokemon_series.head(1)

0    whatevermon
Name: Pokemon, dtype: object

In [29]:
pokemon_df

         Pokemon
0    whatevermon
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
..           ...
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion

[721 rows x 1 columns]

In [30]:
pokemon_df = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon'])
pokemon_series = pokemon_df.squeeze('columns').copy()

In [31]:
pokemon_series[0] = 'whatever'

In [32]:
pokemon_series.head(1)

0    whatever
Name: Pokemon, dtype: object

In [33]:
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

# The inplace parameter

In [42]:
google = (
    pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')
    .copy()
)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [38]:
google = google.sort_values()
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [43]:
google.sort_values(inplace = True)
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [47]:
google.sort_index(inplace = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [48]:
google = (
    pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')
)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [50]:
google.sort_values(inplace = True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

# Math Methods on Series Objects

In [54]:
google = (
    pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')
)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [63]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# Broadcasting

In [66]:
google = (
    pd.read_csv('pandas/google_stock_price.csv', usecols = ['Stock Price'])
    .squeeze('columns')
)

google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [70]:
google + 10
google - 30
google*2


google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

# The value_counts Method

In [74]:
pokemon = (
    pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon')
    .squeeze('columns')
)

pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [80]:
pokemon.value_counts()
pokemon.value_counts(ascending = True).head()

pokemon.value_counts(sort = False)

pokemon.value_counts(normalize = True)*100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

# The apply Method

In [81]:
pokemon = (
    pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon')
    .squeeze('columns')
)

pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [82]:
pokemon.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [85]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ['Grass', 'Fire', 'Water']:
        return 'Classic'
    elif pokemon_type == 'Normal':
        return 'Boring'
    else: 
        return 'TBD'

In [86]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

# The map Method

In [87]:
pokemon = (
    pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon')
    .squeeze('columns')
)

pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [93]:
mappings = {
    'Grass': 'Classic',
    'Fire' : 'Classic',
    'Water': 'Classic',
    'Normal': 'Boring'
}
mappings_series = pd.Series(mappings)

In [94]:
pokemon.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object