# Create a simple vector

In [11]:
numbers <- c(1,2,3,4)
numbers

[1] 1 2 3 4

In [13]:
people <- c("João", "Maria", "Pedro", "Paula")
people

[1] "João"  "Maria" "Pedro" "Paula"

In [16]:
logic <- c(TRUE, FALSE, TRUE, TRUE, FALSE, FALSE)
logic

[1]  TRUE FALSE  TRUE  TRUE FALSE FALSE

In [24]:
print(class(numbers))
print(class(people))
print(class(logic))

[1] "numeric"
[1] "character"
[1] "logical"

In [26]:
logic_2 <- c(T, F, T, F, F, F)
logic_2

[1]  TRUE FALSE  TRUE FALSE FALSE FALSE

# Get length

In [27]:
length(numbers)

[1] 4

In [28]:
length(people)

[1] 4

In [29]:
length(logic)

[1] 6

# Create a sequence

In [33]:
sequence <- c(1:10)
sequence

 [1]  1  2  3  4  5  6  7  8  9 10

In [35]:
sequence <- c(500:600)
sequence

  [1] 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517
 [19] 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535
 [37] 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553
 [55] 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571
 [73] 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589
 [91] 590 591 592 593 594 595 596 597 598 599 600

In [38]:
several_1 <- c(1, 2, 3, "Azul", "Verde", "Vermelho", TRUE, FALSE, TRUE)
several_1

[1] "1"        "2"        "3"        "Azul"     "Verde"    "Vermelho" "TRUE"
[8] "FALSE"    "TRUE"

In [39]:
class(several_1)

[1] "character"

In [41]:
several_2 <- c(1,2,5,T,F)
several_2

[1] 1 2 5 1 0

In [42]:
class(several_2)

[1] "numeric"

# Operations

In [43]:
numbers == 1

[1]  TRUE FALSE FALSE FALSE

In [44]:
numbers*2

[1] 2 4 6 8

In [46]:
triple_numbers <- numbers*3
triple_numbers

[1]  3  6  9 12

In [47]:
people != 'João'

[1] FALSE  TRUE  TRUE  TRUE

In [48]:
sequence > 550

  [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [49] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [61]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [73]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [97]  TRUE  TRUE  TRUE  TRUE  TRUE

In [50]:
height <- factor(c("high", "medium", "high", "low", "medium", "high"), 
                levels = c("low", "medium", "high"),
                labels = c("low building",
                           "medium building",
                           "high building"))
height

[1] high building   medium building high building   low building
[5] medium building high building
Levels: low building medium building high building

In [51]:
class(height)

[1] "factor"

In [54]:
answer <- factor(c(1, 2, 2, 3, 1, 2, 3, 3, 1, 2, 1, 1, 3, 2, 3),
                    levels = c(1, 2, 3),
                    labels = c("totally disagree",
                               "no opnion",
                               "totally agree"))
answer

 [1] totally disagree no opnion        no opnion        totally agree
 [5] totally disagree no opnion        totally agree    totally agree
 [9] totally disagree no opnion        totally disagree totally disagree
[13] totally agree    no opnion        totally agree
Levels: totally disagree no opnion totally agree

# Data bases

In [56]:
data_base_1 <- data.frame(var1 = c("person 1", "person 2", "person 3"),
                             var2 = c(42, 55, 28))
data_base_1

  var1     var2
1 person 1 42
2 person 2 55
3 person 3 28

In [60]:
var1 <- c(1:10)
var2 <- c(11:18, NA, NA)
var3 <- c("a","b","c","d","e","f","g","h","i","j")

data_base_2 <- data.frame(var1, var2, var3)
data_base_2

   var1 var2 var3
1   1   11   a
2   2   12   b
3   3   13   c
4   4   14   d
5   5   15   e
6   6   16   f
7   7   17   g
8   8   18   h
9   9   NA   i
10 10   NA   j

In [62]:
data_base_3 <- data.frame(position = var1,
                               missing = var2,
                               letters = var3)
data_base_3

   position missing letters
1   1       11      a
2   2       12      b
3   3       13      c
4   4       14      d
5   5       15      e
6   6       16      f
7   7       17      g
8   8       18      h
9   9       NA      i
10 10       NA      j